@import url(./index.css);

.dashboard {
  display: grid;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: 0.6fr 10.4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.dashboard__sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--sidebar-bkg);
  color: var(--white);
  padding-top: 40px;
  min-width: 100px;
}

.dashboard__sidebar li {
  list-style: none;
  margin: 0 0;
  padding: 6px 0px 6px 16px;
  text-align: left;
}

.dashboard__sidebar--selected {
  background-color: #2b323b;
  border-left: 6px solid #1d2127;
}
.dashboard__header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--dashboard-header-bkg);
}
.dashboard__content {
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--dashboard-content-bkg);
}
