@import url(./index.css);

.tipe-pinjaman__main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  width: 100%;
}

.tipe-pinjaman__main > button {
  align-self: flex-start;
}
