@import url(./index.css);

.tipe-simpanan__main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  width: 100%;
}

.tipe-simpanan__main > button {
  align-self: flex-start;
}
